/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #291132;
}

#navegacao {
	background: #700B97;
	border-bottom: 1px solid #5a0979;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area {
	width: 720px;
	margin: 0 auto;
}

#area-principal {
	width: 720px;
	margin: 55px auto 10px auto;
}

#logo {
	float: left;
}

#menu {
	float: right;
	padding: 10px 0;
}

#postagem {
	background: #e9d8ee;
	padding: 10px;
	margin-bottom: 10px;
}

h2 {
	color: #3E065F;
	text-align: center;
}

/****************************************************
***********************Formatação do menu************/
a {
	text-decoration: none;
	padding: 5px 10px;
}
/*Links não visitados*/
a:link {
	color: #ffffff;
}

/*Links vistados*/
a:visited {
	color: #ffffff;
}

/*Links hover*/
a:hover {
	color: #fff;
	background: #8E05C2;
}

/*Links active*/
a:active {
	color: #535353;
}


/*Classes*/
.verde {
	color: #fff;
}

.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	/* margin-bottom: 10px; */
	text-align: center;
	margin: 0 120px 10px;
}

.img-postagem{
	float: left;
	margin:0 10px 5px 0;
}

.postado {
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}